{% extends "layout.html" %}

{% block body %}
<div>
        <img src="https://www.thespruceeats.com/thmb/qpF2rVJjvaBvgd2be3rG8dz8fLM=/3744x2808/smart/filters:no_upscale()/quick-tuna-taco-recipe-2342775-hero-01-5c55ee9cc9e77c0001d0019c.jpg" width="500">
    <ul>
        <li><a href="#par1">Paragraph 1</a></li>
        <li><a href="#par2">Paragraph 2</a></li>
        <li><a href="#par3">Paragraph 3</a></li>
    </ul>
    <h2 id="par1">Begining of my life</h2>
        <p id="p1"><span class="start">And</span> I can imagine Farmer saying he doesn’t care if no one else is willing to follow their example. He’s still going to make these hikes, he’d insist, because if you say that seven hours is too long to walk for two families of patients, you’re saying that their lives matter less than some others’, and the idea that some lives matter less is the root of all that’s wrong with the world.
</p>
    <h2 id="par2">Midle of my life</h2>
    <p id="p2"><span class="start">On</span> July 2, McCandless finished reading Tolstoy’s “Family Happiness”, having marked several passages that moved him:
“He was right in saying that the only certain happiness in life is to live for others…” Then, on July 3, he shouldered his backpack and began the twenty-mile hike to the improved road. Two days later, halfway there, he arrived in heavy rain at the beaver ponds that blocked access to the west bank of the Teklanika River. In April they’d been frozen over and hadn’t presented an obstacle. Now he must have been alarmed to find a three-acre lake covering the trail.
</p>
    <h2 id="par3">My death</h2>
    <p id="p3"><span class="start">Confident</span> that he was clever, resourceful, and bold enough to escape any predicament, [Louie] was almost incapable of discouragement. When history carried him into war, this resilient optimism would define him.
</p>
        </div>
{% endblock %}