{% extends "layout.html" %}

{% block body %}
<div>
    <h2>Введіть сигнал: ([1, 2, 3...])</h2>
</div>
<div>
    <form action="" method="post">
        <input type="text" name="signal" placeholder="Введіть сигнал">
        <input type="text" name="threshold" placeholder="Введіть мінімальний поріг" value="50">
        <button>Надати</button>
    </form>
</div>
<div>
    <details>
<summary>Сигнал:</summary>
 {{ signal2 }}
</details>

</div>
<div>
    <img src="static/{{ image_name }}" width="800">
</div>

{% endblock %}